################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WordFinder/WordFinder/bin/Debug/net7.0
/WordFinder/WordFinder/obj
