@{
    ViewData["Title"] = "Home Page";
}

<img id="TittleImage" src="~/css/MainTittle.png" alt="WORD FINDER TITTLE IMAGE" />
<p class="text-start">Matrix Size: </p>
<select id="MatrixSizeSelect" onchange="matrixSizeChange()">
    <option value="" disabled selected>Select size</option>
</select>
<button class="buttonCustSimple" onclick="completeMatrix()">Complete Matrix</button>
<button class="buttonCustSimple" onclick="clearMatrix()">Clear</button>
<button class="buttonCustMain" onclick="find()">FIND WORDS</button>

<div id="WordSection">
    <table class="MatrixWordTable" id="WordsTable">
        <thead>
            <tr>
                <th>Words to Find</th>
            </tr>
        </thead>
        <tbody>
            <tr><td class="matrixWordCell" id="wordsToFind0" contenteditable="true"></td></tr>
            <tr><td class="matrixWordCell" id="wordsToFind1" contenteditable="true"></td></tr>
            <tr><td class="matrixWordCell" id="wordsToFind2" contenteditable="true"></td></tr>
            <tr><td class="matrixWordCell" id="wordsToFind9" contenteditable="true"></td></tr>
            <tr><td class="matrixWordCell" id="wordsToFind3" contenteditable="true"></td></tr>
            <tr><td class="matrixWordCell" id="wordsToFind4" contenteditable="true"></td></tr>
            <tr><td class="matrixWordCell" id="wordsToFind5" contenteditable="true"></td></tr>
            <tr><td class="matrixWordCell" id="wordsToFind6" contenteditable="true"></td></tr>
            <tr><td class="matrixWordCell" id="wordsToFind7" contenteditable="true"></td></tr>
            <tr><td class="matrixWordCell" id="wordsToFind8" contenteditable="true"></td></tr>
        </tbody>
    </table>
    <table class="MatrixResultsTable" id="ResultsTable">
        <thead>
            <tr>
                <th>TOP 10 WORDS FOUND</th>
            </tr>
        </thead>
        <tbody>
            <tr><td id="result0" class="resultsWordCell"></td></tr>
            <tr><td id="result1" class="resultsWordCell"></td></tr>
            <tr><td id="result2" class="resultsWordCell"></td></tr>
            <tr><td id="result3" class="resultsWordCell"></td></tr>
            <tr><td id="result4" class="resultsWordCell"></td></tr>
            <tr><td id="result5" class="resultsWordCell"></td></tr>
            <tr><td id="result6" class="resultsWordCell"></td></tr>
            <tr><td id="result7" class="resultsWordCell"></td></tr>
            <tr><td id="result8" class="resultsWordCell"></td></tr>
            <tr><td id="result9" class="resultsWordCell"></td></tr>
        </tbody>
    </table>
</div>
<div id="MatrixSection">
</div>

<script>
    selectList = document.getElementById("MatrixSizeSelect");
    for (var i = 2; i < 65; i++) {
        var option = document.createElement("option");
        option.value = i;
        option.text = i + " x " + i;
        selectList.appendChild(option);
    }
</script>
