@{
    ViewData["Title"] = "Home Page";
}

<img id="TittleImage" src="~/css/MainTittle.png" alt="WORD FINDER TITTLE IMAGE" />
<p class="text-start">Matrix Size: </p>
<select id="MatrixSizeSelect" onchange="matrixSizeChange()">
    <option value="" disabled selected>Select size</option>
</select>
<button class="buttonCustSimple" onclick="completeMatrix()">Complete Matrix</button>
<button class="buttonCustSimple" onclick="clearMatrix()">Clear</button>
<button class="buttonCustMain" onclick="find()">FIND WORDS</button>

<div id="WordSection">
    <table class="MatrixWordTable" id="WordsTable">
        <thead>
            <tr>
                <th>Words to Find</th>
            </tr>
        </thead>
        <tbody>
            <tr id="wordsToFind0" contenteditable="true"><td class="matrixWordCell"></td></tr>
            <tr id="wordsToFind1" contenteditable="true"><td class="matrixWordCell"></td></tr>
            <tr id="wordsToFind2" contenteditable="true"><td class="matrixWordCell"></td></tr>
            <tr id="wordsToFind9" contenteditable="true"><td class="matrixWordCell"></td></tr>
            <tr id="wordsToFind3" contenteditable="true"><td class="matrixWordCell"></td></tr>
            <tr id="wordsToFind4" contenteditable="true"><td class="matrixWordCell"></td></tr>
            <tr id="wordsToFind5" contenteditable="true"><td class="matrixWordCell"></td></tr>
            <tr id="wordsToFind6" contenteditable="true"><td class="matrixWordCell"></td></tr>
            <tr id="wordsToFind7" contenteditable="true"><td class="matrixWordCell"></td></tr>
            <tr id="wordsToFind8" contenteditable="true"><td class="matrixWordCell"></td></tr>
        </tbody>
    </table>
    <table class="MatrixResultsTable" id="ResultsTable">
        <thead>
            <tr>
                <th>TOP 10 WORDS FOUND</th>
            </tr>
        </thead>
        <tbody>
            <tr id="result0"><td class="resultsWordCell"></td></tr>
            <tr id="result1"><td class="resultsWordCell"></td></tr>
            <tr id="result2"><td class="resultsWordCell"></td></tr>
            <tr id="result3"><td class="resultsWordCell"></td></tr>
            <tr id="result4"><td class="resultsWordCell"></td></tr>
            <tr id="result5"><td class="resultsWordCell"></td></tr>
            <tr id="result6"><td class="resultsWordCell"></td></tr>
            <tr id="result7"><td class="resultsWordCell"></td></tr>
            <tr id="result8"><td class="resultsWordCell"></td></tr>
            <tr id="result9"><td class="resultsWordCell"></td></tr>
        </tbody>
    </table>
</div>
<div id="MatrixSection">
</div>

<script>
    selectList = document.getElementById("MatrixSizeSelect");
    for (var i = 2; i < 65; i++) {
        var option = document.createElement("option");
        option.value = i;
        option.text = i + " x " + i;
        selectList.appendChild(option);
    }
</script>
